LOCAL_IP=192.168.x.x
DGX_HOST=user@192.168.x.x
REMOTE_DIR=workspace/CNN-classification

MLFLOW_TRACKING_URI=http://192.168.x.x:5050
LAKEFS_ENDPOINT=http://192.168.x.x:8000
LAKEFS_ACCESS_KEY_ID=AKIAIOSFODNN7EXAMPLE
LAKEFS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
